{% extends 'base.html' %}
{% block title %} Category Products {% endblock %}
{% block content %}
    <h1 class="mb-4 text-center">Products({{ products.count }})</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm" style="height: 150px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                                    {{ product.name }}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Total Price: <strong>${{ product.total }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h3 class="card-title text-center">Product Statistics</h3>
                <hr>
                <p class="h5">
                    <span class="text-success">Most Expensive Product's Price:</span> ${{ stats.max_price|floatformat:2 }}
                </p>
                <p class="h5">
                    <span class="text-danger">The Cheapest Product's Price:</span> ${{ stats.min_price|floatformat:2 }}
                </p>
                <p class="h5">
                    <span class="text-primary">Products Average Price:</span> ${{ stats.avg_price|floatformat:2 }}
                </p>
                <p class="h5">
                    <span class="text-info">Products Total Price Sum:</span> ${{ stats.total_sum|floatformat:2 }}
                </p>
            </div>
        </div>
{% endblock %}