{% extends 'base.html' %}
{% block title %} Product Info {% endblock %}
{% block content %}
    <div class="row mb-4">
            <div class="col-md-6">
                {% if product.image %}
                    <img src="{{product.image.url}}" alt="{{product.name}}" class="img-fluid rounded shadow-lg mb-4">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <hr>
                        <div class="bg-light p-3 rounded" style="max-height: 250px">
                            <p class="text-muted">{{ product.description }}</p>
                        </div>
                        <hr>
                        <h4 class="text-success">Price: ${{ product.price|floatformat:2 }}</h4>
                        <h6 class="text-secondary">Quantity:
                            {% if product.quantity > 0 %}
                                <span class="text-primary">{{ product.quantity }}</span>
                            {% else %}
                                <span class="text-danger">Out of stock</span>
                            {% endif %}
                        </h6>
                        <hr>
                        <p class="mb-0">Categories:
                            {% for category in product.category.all %}
                                <span class="badge bg-primary me-1">{{ category.name }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}